.sidebar {
  overflow: hidden;
  position: fixed;
  top: 2px;
  left: 87%;
  height: 17vh;
  width: 250px;
  background-color: rgba(48, 87, 102, 0.2);
  z-index: -1;
  border-radius: 50px;
  text-align: center;
}

.weather_icon {
  width: 85px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20%;
  margin-right: 15px;
}

.sidebar h2 {
  display: inline-block;
  color: white;
  margin-top: 4vh;
}
.sidebar p {
  display: flex;
  color: white;
  padding-left: 12vh;
  margin-top: -3vh;

  font-size: x-large;
}
